/* .App {
  font-family: 'Archivo', sans-serif !important;
  text-align: center;
} */

/* tbody tr:nth-child(odd) {background-color: #f2f2f2;} */
/* table th {
  text-align: start;
  max-width: 220px;
  padding: 10px;
} */